@import '../../scss/index.scss';

.auth{
  border: solid black;
  display: flex !important;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
  .background-form {
  object-fit: cover;
  height: 100vh;
  position: absolute;
  z-index: -1;
}
}

.logo-form {
  width: 250px;
  margin: auto;
}

.form-container{
  padding: 20px;
  background-color: $wood;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  border-radius: 10px;
}
