@import '../../../scss/index.scss';

.css-sghohy-MuiButtonBase-root-MuiButton-root {
  background-color: $wine !important;
  color: $beer !important;
  &:hover{
    background-color: rgb(119, 24, 24) !important;
    color: white !important;
  }
}

.register-info {
  color: $beer;
  span{
    color: $wine;
    text-decoration: underline;
    cursor: pointer;
  }
}
