@import '../../scss/index.scss';

.css-sghohy-MuiButtonBase-root-MuiButton-root {
  background-color: $wine !important;
  color: $beer !important;
  &:hover{
    background-color: rgb(119, 24, 24) !important;
    color: white !important;
  }
}

fieldset{
    border: none !important;
    outline: none !important;
}


.register-button {
  margin-top: 15px !important;
}

.login-info {
  color: $beer;
  span{
    color: $wine;
    text-decoration: underline;
    cursor: pointer;
  }
}
